<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- WiFi & Bluetooth for older versions -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Bluetooth for Android 12+ (API 31+) -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        />

    <!-- WiFi for Android 13+ (API 33+) -->
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        />

    <!-- Location (Required for discovery on most versions) -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BLELocalEventManager">
        <activity
            android:name=".frontend.dev.DevNetworkActivity"
            android:exported="false"
            android:label="Dev · Network"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".frontend.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BLELocalEventManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>